{% extends 'app/dash_base.html' %}

{% block content %}
<div id="display_items" class="table-responsive" style="display: inline;">
<h2>{{items_loja.loja.nome}}</h2>
    
    <table class="table table-hover table-bordered">
      <caption>Produtos</caption>
        <thead>
            <tr>
              <th scope="col">Foto</th>
              <th scope="col">Nome</th>
              <th scope="col">Preço</th>
              <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody >
          {% for item in items_loja.items %}
            <tr>
                <td><img src="{{URL}}{{item.image}}" style="width: 85px; height: 85px;"></td>
                <td>{{item.nome}}</td>
                <td>R${{item.preco}}</td>
                <td>
                    <i onclick="abrir_modal_edit_item({{item}})" class="material-icons" data-toggle="tooltip" title="Editar" style="color: blue;">edit</i>
                    <i onclick="abrir_modal_delete_item({{item}})" class="material-icons" data-toggle="tooltip" title="Deletar" style="color: red;">delete</i>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-success" data-toggle="modal" data-target="#modal_add_item">Adicionar</button>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal_add_item">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adicionar Produto na {{items_loja.loja.nome}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{URL}}/api/criar/loja_item" method="POST">
          <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
                <select name="produto_id" class="form-control" id="select_item"></select>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" step="0.01" placeholder='Preço' name='preco'>
            </div>
            <input type="hidden" id="modal_adicionar_loja_id" name="loja_id" value="{{items_loja.loja.id}}">
          </div>
          <div class="modal-footer">
            <button class="btn btn-default btn-success" type="submit">Confirmar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          </div>
        </form> 
      </div>   
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modal_edit_item">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Produto da {{items_loja.loja.nome}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{URL}}/api/edit/loja_item" method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
              <input type="text" id="modal_editar_item" disabled class="form-control" name='nome'>
          </div>
          <div class="form-group">
              <input type="number" id="modal_editar_preco" class="form-control" step="0.01" placeholder='Preço' name='preco'>
          </div>
          <input type="hidden" id="modal_adicionar_loja_id" name="loja_id" value="{{items_loja.loja.id}}">
          <input type="hidden" id="modal_editar_item_loja" name="item_loja_id">
        </div>
        <div class="modal-footer">
          <button class="btn btn-default btn-success" type="submit">Confirmar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </form> 
    </div>   
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal_delete_item">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deletar Produto da {{items_loja.loja.nome}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{URL}}/api/delete/loja_item" method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
              <input type="text" id="modal_deletar_item" disabled class="form-control" name='nome'>
          </div>
          <input type="hidden" id="modal_deletar_loja_id" name="loja_id" value="{{items_loja.loja.id}}">
          <input type="hidden" id="modal_deletar_item_loja" name="item_loja_id">
        </div>
        <div class="modal-footer">
          <button class="btn btn-default btn-success" type="submit">Confirmar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </form> 
    </div>   
  </div>
</div>
{% endblock%}

{% block scripts %}
<script>
    $(document).ready(function(){
        select = document.getElementById('select_item')
        fetch(`{{URL}}/api/items`)
        .then(response => response.json())
        .then(response => {
          for(i = 0; i < response.length; i++){
            option = document.createElement('option')
            option.setAttribute('value', response[i].id)
            option.innerText = response[i].nome
            select.appendChild(option)
          }
        })
    })

    function abrir_modal_edit_item(item){
      $('#modal_edit_item').modal('show')
      document.getElementById('modal_editar_item').setAttribute('value', item.nome)
      document.getElementById('modal_editar_preco').setAttribute('value', item.preco)
      document.getElementById('modal_editar_item_loja').setAttribute('value', item.id)
    }

    function abrir_modal_delete_item(item){
      $('#modal_delete_item').modal('show')
      document.getElementById('modal_deletar_item').setAttribute('value', item.nome)
      document.getElementById('modal_deletar_item_loja').setAttribute('value', item.id)
    }

</script>
{% endblock %}